<div>
  <p>
    <form id="mainForm">
      <div class="btnForm">

      </div>
      <br>
      <button id="remove">REMOVE</button>
      <button id="update">UPDATE</button>
      <br>
    </form>
  </p>
</div>